{% extends 'good_course/base.html' %}

{% block body_block %}

<div class="jumbotron">
	<h1>Add a Course</h1>
	<p>
		<form role="form"  id="course_form" method="post" action="/AGoodCourse/add_course/">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			<div class="container">
				{% for field in form.visible_fields %}
					<div class ="panel panel-danger">
						{% if field.errors  %}
							<div class = "panel-heading">
								{{ field.errors }}
							</div>
						{% endif %}
						<div class = "panel-body">
							{{ field.help_text }}<br/>
							{{ field }}
						</div>

					</div>
				{% endfor %}
			</div>
			<br/>
			<button class="btn btn-primary" type="submit" name="submit">Add Course</button>
		</form>
	</p>
</div>

{% endblock %}

