{% extends 'good_course/base.html' %}

{% load staticfiles %}

{% block body_block %}
{% if course %}
	<div class="jumbotron">
		<div class="row placeholders">
			<div class="col-md-9">
				<div class="page-header">
					<h1>{{ title }}</h1>
				</div>
			</div>
			<div class="col-md-3">
				<h2>{{ rating }}/5</h2>
			</div>
		</div>
		<div class="row placeholders">
			<div class="col-md-6">
				<div class ="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Lecturer</h3>
					</div>
					<div class = "panel-body">
						{{ lecturer }}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class ="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">School</h3>
					</div>
					<div class = "panel-body">
						{{ school }}
					</div>
				</div>
			</div>
		</div>
		<div class ="panel panel-primary">
			<div class="panel-body">
				{{ desc }}
			</div>
		</div>
		{% if user.is_authenticated %}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Rate this course</h3>
				</div>
				<div class="panel-body">
					<form role="form"  id="review_form" method="post" action="{% url 'course' course.slug %}">
						{% csrf_token %}
						<div>
							{{ form.rating }}
						</div>
						<div>
							{{ form.text }}
						</div>
						<div>
							<button class="btn btn-primary" type="submit" name="submit">Submit</button>
						</div>
					</form>			
				</div>
			</div>
		{% endif %}
	</div>
	{% if comments %}
		<Strong>Comments<Strong>
		{% for comment in comments %}
			<div class ="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{ comment.user }}</a></h3>
				</div>
				<div class = "panel-body">
					{{ comment.text }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% else %}
	The specified course does not exist!
{% endif %}

{% endblock %}